:root {
  --website-color-neutral-10: #0A141E;
  --website-color-neutral-9: #39414A;
  --website-color-neutral-8: #515860;
  --website-color-neutral-7: #222B34;
  --website-color-neutral-1: #DEDFE4;
  --header-height: 56px;
  --header-background: #ffffff;
  --item-background: rgba(243, 244, 246, var(--bg-opacity));
  --item-color: #050505;
}
