.Button {
  $then: &;
  @include Button();

  &__icon {
    margin-right: var(--space-s);
  }

  &__content {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    background: #fff;
    cursor: pointer;
    color: #40a9ff;
    border-color: #40a9ff;
  }

  &--dashed {
    color: #000000d9;
    border-color: #d9d9d9;
    background: #fff;
    border-style: dashed;
  }

  &--primary {
    color: #fff;
    border-color: #1890ff;
    background: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px #0000000b;
  }

  &--dark {
    color: var(--item-color);
    background: var(--item-background);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px #0000000b;
  }

  &--round {
    border-radius: 32px;
    //--button-padding: 4px 35px;
  }

  &--lg {
    --button-size: 42px;
    --button-padding: 4px 30px;
    font-size: 16px;
  }

  &--md {
    --button-size: 38px;
    --button-padding: 4px 25px;
    font-size: 15px;
  }

  &--sm {
    --button-size: 32px;
    --button-padding: 4px 15px;
  }

  &--s {
    --button-size: 25px;
    --button-padding: 2px 10px;
    font-size: 13px;
  }

  &--xs {
    --button-padding: 2px 10px;
    font-size: 12px;
  }

  &--initial {
    --button-size: 50px;
    --button-padding: 4px 40px;
    font-size: 18px;
  }

  &--iconChildren {
    #{$then}__icon {
      margin: 0;
    }
  }

  &--default {
    background: transparent;
    border: var(--border-size-none);
    @include shadow(none);
    padding: 0;
  }

  &--block {
    width: 100%;
  }
}
