.CardMessage {
  $then: &;
  --card-message-border: var(--color-success-2);
  border-left: 4px solid var(--card-message-border);

  &__title {
    margin-bottom: var(--space-m);
  }

  &--between {
    #{$then}__body {
      display: flex;
      justify-content: space-between;
    }

    #{$then}__title {
      margin: 0;
    }
  }
}
