.Card {
  @include shadow(var(--shadow-xs));
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
}

.CardHeader {
  background-color: rgba(249, 250, 251, var(--bg-opacity));
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;

  @media (min-width: 1024px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &--default {
    background-color: rgba(255, 255, 255, var(--bg-opacity));
  }
}

.CardBody {
  flex-grow: 1;
  width: 100%;
  padding: 1.25rem;
  @media (min-width: 1024px) {
    padding: 1.5rem;
  }

  &--flex {
    display: flex;
    flex-direction: column;
  }
}

.CardTitle {
  font-size: 20px;

  h3, & {
    font-size: 20px;
  }

  p {
    font-weight: normal;
    font-size: 16px;
    color: gray;
    margin-top: var(--space-xs);
  }
}

.CardFooter {
  background-color: rgba(249, 250, 251, var(--bg-opacity));
  width: 100%;
  padding: 1rem 1.25rem;

  @media (min-width: 1024px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &--default {
    background-color: rgba(255, 255, 255, var(--bg-opacity))
  }

  .CardImage {
    position: relative;
    display: block;

    img {
      width: 100%;
    }
  }
}
