.CheckItem {
  $then: &;
  gap: 10px;
  font-size: 18px;

  > i {
    @include transition(opacity .3s ease-in-out);
    opacity: .2;
  }

  &__content {
    min-width: 100px;

    &:before {
      content: "";
      width: 0;
      background: linear-gradient(90deg, #6303ff 0%, #a471f7 3%, #6610f2 60%, #a471f7 100%);
      border-radius: 2px 3px 2px 2px;
      mix-blend-mode: multiply;
      transform: skewX(-10deg);
      opacity: .3;
      transition: width .35s ease-in-out, opacity .25s ease-in-out;
      position: absolute;
      margin-left: 0;
      pointer-events: none;
      left: 0;
      right: 0;
    }

    #{$then}--checked & {
      position: relative;

      &::before {
        width: 100%;
        height: 100%;
      }
    }
  }

  &--checked {

  }

  @include hover() {
    i {
      opacity: 1;
    }
  }
}
