.Dropdown {
  $then: &;
  @include baseFlex(true);
  flex-direction: column;
  position: relative;

  &__menu {
    position: absolute;
    margin-top: .5rem;
    left: 0;
    top: 100%;
    min-width: 12rem;
    z-index: 1;

    #{$then}--bottom-left & {
      right: 0;
      left: initial;
    }

    #{$then}--top-left & {
      bottom: 0;
      top: initial;
      right: 0;
      left: initial;
    }
  }
}
