.Dropdown {
  @include baseFlex(true);
  flex-direction: column;
  position: relative;

  &__menu {
    position: absolute;
    margin-top: .5rem;
    left: 0;
    top: 100%;
    min-width: 12rem;
  }
}
