.GridDefaultItem {
  @for $i from 1 through 12 {
    &--#{$i} {
      grid-column: span ($i);
    }
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    @for $i from 1 through 12 {
      &--xs-#{$i} {
        grid-column: span ($i);
      }
    }
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    @for $i from 1 through 12 {
      &--sm-#{$i} {
        grid-column: span ($i);
      }
    }
  }
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    @for $i from 1 through 12 {
      &--md-#{$i} {
        grid-column: span ($i);
      }
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    @for $i from 1 through 12 {
      &--lg-#{$i} {
        grid-column: span ($i);
      }
    }
  }
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    @for $i from 1 through 12 {
      &--xl-#{$i} {
        grid-column: span ($i);
      }
    }
  }
  /* Extra large devices (large laptops and desktops, 1400 and up) */
  @media only screen and (min-width: 1400px) {
    @for $i from 1 through 12 {
      &--xxl-#{$i} {
        grid-column: span ($i);
      }
    }
  }
}
