.SelectMenu {
  position: absolute;
  top: 100%;
  background-color: white;
  border: 1px solid gainsboro;
  margin-top: 5px;
  width: 100%;

  &__content {
    overflow: auto;
    max-height: 400px;
  }

  &__search {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 10px;
  }
}
