.TimePickerItem {
  --time-picker-item-background: #e6f7ff;
  height: 28px;
  color: #000000d9;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    background: var(--time-picker-item-background);
  }

  &--active {
    background: var(--time-picker-item-background);
  }
}
